.main{
    height: 300px;
    width: 300px;
    position: relative;

}
.main img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;

}
.parent-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
    
}